:root {
    --color-bg: #F8F8F8;
    --color-bg-complement: #f0f0f0;
    --color-bg-complement-v2: #f3f3f3;
    --color-bg-complement-gradient: #e7e7e7;
    --color-bg-complement-light: #ffffff;
    --color-bg-complement-gradient-light: #f5f5f5;

    --color-bg-complement-hover: #e2e2e2;
    --color-bg-complement-gradient-hover: #dddddd;

    --color-text: #080808;
    --color-text-white: #f3f3f3;
    --color-text-unimportant: rgb(126, 126, 126);
    --color-text-unimportant-dark: #646464;
    --color-text-unimportant-light: rgb(189, 189, 189);

    --color-primary: #7b58fb;
    --color-primary-hover: #6548e4;
    --color-primary-gradient-dark: #5034b6;

    --color-button-hover: #ebebeb;

    --color-border: #5a5a5a;
    --color-border-light: #dddddd;
    --color-border-light-very: #f1f1f1;
    --color-box-shadow: rgba(0,0,0,0.12);
    --color-box-shadow-input: rgba(161, 171, 189, 0.3);

    --font-size-logo: 1.5rem;
    --font-size-large: 1.25rem;
    --font-size-base: 1rem;
    --font-size-small: 0.875rem;

    --color-danger: #ff4221;
    --color-danger-text: #ff4221;
    --color-danger-hover: #e73b1d;

    --color-success: #29ff29;
    --color-success-text: #29ff29;

    --color-warning: #f8c82a;
    --color-warning-text: #e9a71a;

    --status-yellow: #e6c24d;
    --status-yellow-hover: #cfaf44;
    --status-yellow-text: #5e4a0a;

    --status-blue: #8fa3eb;
    --status-blue-hover: #7f91d3;
    --status-blue-text: #2d3a6d;

    --status-red: #da8686;
    --status-red-hover: #bd7070;
    --status-red-text: #6e2d2d;

    --status-black: #94a3b8;
    --status-black-hover: #8391a5;
    --status-black-text: #1e293b;

    --status-green: #89b889;
    --status-green-hover: #76a176;
    --status-green-text: #214427;

    --badge-primary-bg-color: #7b58fb10;
    --badge-primary-text-color: #7b58fb;
    --badge-primary-border-color: #7b58fb69;
    --badge-primary-bg-color-hover: #7b58fb1e;

    --badge-secondary-bg-color: #0857b210;
    --badge-secondary-text-color: #0857b2;
    --badge-secondary-border-color: #0857b26c;
    --badge-secondary-bg-color-hover: #083eb21e;

    --stat-item-all: var(--color-primary);
    --stat-item-all-hover: var(--color-primary-hover);
    --stat-item-published: #39a139;
    --stat-item-published-hover: #3d9c3d;
    --stat-item-hidden: #dfb83a;
    --stat-item-hidden-hover: #cfaf44;
    --stat-item-deleted: #db4242;
    --stat-item-deleted-hover: #d85d5d;
}

.theme-dark {
    --color-bg: #18181f;
    --color-bg-complement: #15151b;
    --color-bg-complement-v2: #121218;
    --color-bg-complement-gradient: #10101d;
    --color-bg-complement-light: #1a1a22;
    --color-bg-complement-gradient-light: #1e1e22;

    --color-bg-complement-hover: #191920;
    --color-bg-complement-gradient-hover: #111122;

    --color-text: #f0f0f0;
    --color-text-black: #131313;
    --color-text-unimportant: #c2c2c2;
    --color-text-unimportant-dark: #646464;
    --color-text-unimportant-light: rgb(156, 156, 156);

    --color-primary: #7b58fb;
    --color-primary-hover: #6548e4;
    --color-primary-gradient-dark: #5034b6;

    --color-button-hover: #191920;

    --color-border: #66666e;
    --color-border-light: #33333a;
    --color-border-light-very: #282831;
    --color-box-shadow: rgba(0,0,0,0.12);
    --color-box-shadow-input: rgba(20, 20, 20, 0.3);

    --status-yellow: #D4AF37;
    --status-yellow-hover: #bd9c31;
    --status-yellow-text: #fff9e4;

    --status-blue: #7289da;
    --status-blue-hover: #5d70b6;
    --status-blue-text: #e3efff;

    --status-red: #c26e6e;
    --status-red-hover: #a05656;
    --status-red-text: #fee2e2;

    --status-black: #5b6572;
    --status-black-hover: #464d57;
    --status-black-text: #f1f5f9;

    --status-green: #6b8e6b;
    --status-green-hover: #557555;
    --status-green-text: #dcfce7;

    --badge-primary-bg-color: #7b58fb10;
    --badge-primary-text-color: #7b58fb;
    --badge-primary-border-color: #7b58fb69;
    --badge-primary-bg-color-hover: #7b58fb1e;

    --badge-secondary-bg-color: #087cb210;
    --badge-secondary-text-color: #0882b2;
    --badge-secondary-border-color: #087cb26c;
    --badge-secondary-bg-color-hover: #087cb21e;

    --stat-item-all: var(--color-primary);
    --stat-item-all-hover: var(--color-primary-hover);
    --stat-item-published: #39a139;
    --stat-item-published-hover: #3d9c3d;
    --stat-item-hidden: #dfb83a;
    --stat-item-hidden-hover: #cfaf44;
    --stat-item-deleted: #db4242;
    --stat-item-deleted-hover: #d85d5d;
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('../../fonts/Inter/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url('../../fonts/Inter/Inter_18pt-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('../../fonts/Inter/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
