.calendar__dropdown-group {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter-SemiBold';
}

.calendar__select {
    background-color: transparent;
    border: none;
    color: var(--color-text);
    font-size: var(--font-size-base);
    cursor: pointer;
    outline: none;
}

.calendar__select:focus {
    color: var(--color-primary);
}

.calendar__select option {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-size: var(--font-size-small);
    font-family: 'Inter-Regular', sans-serif;
}

.calendar__header {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    gap: .1rem;
    margin-top: .5rem;
    border-top: 1px solid var(--color-border-light);
}

.calendar__weekday {
    aspect-ratio: 1 / 1;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .15rem;
    color: var(--color-text-unimportant);
}

.calendar__grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    gap: .1rem;
}

.calendar__cell {
    aspect-ratio: 1 / 1;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .15rem;
    cursor: pointer;
    transition: background-color .2s;
    font-family: 'Inter-Medium', sans-serif;
    color: var(--color-text);
}

.calendar__cell:hover {
    background-color: var(--color-primary-hover);
    color: var(--color-white);
}

.calendar__cell--empty {
    cursor: default;
    color: var(--color-text-unimportant-light);
}

.calendar__cell--active {
    background-color: var(--color-primary);
    color: var(--color-text-white) !important;
}

.calendar__cell--today {
    border: 1px solid var(--color-primary);
}