.filter-item--yellow { --status-color: var(--status-yellow); --status-text: var(--status-yellow-text); --status-hover: var(--status-yellow-hover); }
.filter-item--blue   { --status-color: var(--status-blue);   --status-text: var(--status-blue-text);   --status-hover: var(--status-blue-hover); }
.filter-item--red    { --status-color: var(--status-red);    --status-text: var(--status-red-text);    --status-hover: var(--status-red-hover); }
.filter-item--black  { --status-color: var(--status-black);  --status-text: var(--status-black-text);  --status-hover: var(--status-black-hover); }
.filter-item--green  { --status-color: var(--status-green);  --status-text: var(--status-green-text);  --status-hover: var(--status-green-hover); }

.filter-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    transition: all 0.2s ease;
    user-select: none;
    background: color-mix(in srgb, var(--color-border), transparent 98%);
    border: 1px solid color-mix(in srgb, var(--color-border), transparent 95%);
    border-radius: .15rem;
    box-shadow: none;
}

.filter-item:active {
    transform: scale(0.98);
} 

.filter-item .filter-item__label {
    color: var(--color-text-unimportant);
}

.filter-item.is-active {
    background: var(--status-color);
    border: 1px solid color-mix(in srgb, var(--status-color), transparent 80%);
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

.filter-item.is-active:hover {
    background: var(--status-hover);
}

.filter-item.is-active .filter-item__label {
    color: var(--status-text);
}

.filter-item__checkbox {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    background: var(--color-bg-dark);
    border: 1px solid var(--color-border-light);
    color: transparent;
    transition: all 0.2s ease;
    box-shadow: none;
}

.filter-item.is-active .filter-item__checkbox {
    background: var(--status-color);
    border-color: var(--status-color);
    color: var(--status-text);
}

.filter-item.is-active:hover .filter-item__checkbox {
    background: var(--status-hover);
    border-color: var(--status-hover);
}