.filter-item--yellow { --status-color: var(--status-yellow); --status-text: var(--status-yellow-text); --status-hover: var(--status-yellow-hover); }
.filter-item--blue   { --status-color: var(--status-blue);   --status-text: var(--status-blue-text);   --status-hover: var(--status-blue-hover); }
.filter-item--red    { --status-color: var(--status-red);    --status-text: var(--status-red-text);    --status-hover: var(--status-red-hover); }
.filter-item--black  { --status-color: var(--status-black);  --status-text: var(--status-black-text);  --status-hover: var(--status-black-hover); }
.filter-item--green  { --status-color: var(--status-green);  --status-text: var(--status-green-text);  --status-hover: var(--status-green-hover); }

.filter-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 0.5rem;
    width: 6rem;
    cursor: pointer;
    transition: all 0.2s ease;
    user-select: none;
    background: color-mix(in srgb, var(--color-border), transparent 98%);
    border: 2px solid color-mix(in srgb, var(--status-color), transparent 50%);
    border-radius: 1rem;
    box-shadow: none;
}

.filter-item .filter-item__label {
    color: color-mix(in srgb, var(--status-text), transparent 30%)!important;
}

.filter-item:hover {
    background: color-mix(in srgb, var(--status-color), transparent 75%);
}

.filter-item:active {
    transform: scale(0.98);
} 

.filter-item .filter-item__label {
    color: var(--color-text-unimportant);
    font-size: .85rem;
}

.filter-item.is-active {
    background: color-mix(in srgb, var(--status-color), transparent 60%);
    border: 2px solid color-mix(in srgb, var(--status-color), transparent 30%);
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

.filter-item.is-active:hover {
    background: color-mix(in srgb, var(--status-color), transparent 15%);
}

.filter-item.is-active .filter-item__label {
    color: color-mix(in srgb, var(--status-text), transparent 10%)!important;
}

.filter-item__checkbox {
    display: none;
}