.profile {
    position: relative;
    display: inline-block;
}

.profile__button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.profile__card {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    height: 3rem;
    padding: 0 0.5rem;
    color: var(--color-text);
    font-size: var(--font-size-small);
    border-bottom: 2px solid transparent;
}

.profile__user-icon {
    font-size: 1.1rem;
    color: var(--color-text-unimportant);
    transition: color 0.2s ease;
    display: flex;
    align-items: center;
}

.profile__card:hover {
    border-bottom: 2px solid var(--color-primary);
}

.profile__card:hover .profile__user-icon,
.profile__card:hover .profile__name {
    color: var(--color-primary);
}

.profile__card:hover .profile__role {
    color: var(--color-text-unimportant-dark);
}

.profile__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.profile__name {
    font-weight: 500;
    transition: color 0.2s ease;
}

.profile__role {
    font-size: .75rem;
    color: var(--color-text-unimportant);
}

.profile-menu {
    position: absolute;
    top: .5rem;
    right: 0;
    background-color: var(--color-bg-complement);
    min-width: 25rem;
    z-index: 50;
    border-radius: 0.5rem;
    color: var(--color-text-unimportant-dark);
    padding: 1.5rem;
    border: 1px solid var(--color-border-light-very);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    animation: dropdownReveal 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.profile-menu__title {
    font-size: var(--font-size-base);
    color: var(--color-text);
    margin-bottom: 0.5rem;
}

.profile-menu__overview {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-text);
}

.profile-menu__avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-primary);
    background-color: var(--color-bg-complement);
}

.profile-menu__user-details {
    display: flex;
    flex-direction: column;
}

.profile-menu__name {
    font-size: var(--font-size-base);
    font-weight: 600;
}

.profile-menu__email {
    color: var(--color-text-unimportant);
    font-size: var(--font-size-small);
}

.profile-menu__status {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-small);
}

.profile-menu__divider {
    height: 1px;
    background-color: var(--color-border-light);
    margin: 1rem 0;
}

.profile-menu__options {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.profile-menu__option {
    border-radius: 0.4rem;
    transition: background-color 0.2s ease;
}

.profile-menu__option:hover {
    background-color: var(--color-border-light);
}

.profile-menu__link, 
.profile-menu__logout-btn {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    text-align: left;
    color: var(--color-text);
    text-decoration: none;
    font-size: var(--font-size-small);
    background: transparent;
    border: none;
    cursor: pointer;
}

.profile-menu.vanished {
    display: hidden!important;
}

.profile.is-active {
    z-index: 201;
}

@keyframes dropdownReveal {
    from {
        opacity: 0;
        transform: translateY(-10px); /* Začne o 10px vyššie */
    }
    to {
        opacity: 1;
        transform: translateY(0);    /* Skončí na pôvodnom mieste */
    }
}