.appointments-page-body .main {
    display: block;
    height: calc(100vh - 80px);
}

.appointments {
    display: grid;
    grid-template-columns: 16.75rem 1fr;
    width: 100%;
    height: calc(100vh - 100px - 24px); 
    border-top: 1px solid var(--color-border-light);
    border-bottom: 1px solid var(--color-border-light);
    overflow: hidden;
}

.appointments__main {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px - 3rem);
    overflow: hidden;
    padding: 1rem;
}

.appointments__controls {
    padding: .5rem 1rem;
    border-left: 1px solid var(--color-border-light);
}

.appointments__control-group {
    display: flex;
    gap: .25rem;
}

.dropdown__mini-list {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.filter-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    transition: all 0.2s ease;
    user-select: none;
    background: color-mix(in srgb, var(--color-border), transparent 98%);
    border: 1px solid color-mix(in srgb, var(--color-border), transparent 95%);
    border-radius: .15rem;
    box-shadow: none;
}

.filter-item .filter-item__label {
    color: var(--color-text-unimportant);
}

.filter-item.is-active {
    background: var(--status-color);
    border: 1px solid color-mix(in srgb, var(--status-color), transparent 80%);
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

.filter-item.is-active:hover {
    background: var(--status-hover);
}

.filter-item.is-active .filter-item__label {
    color: var(--status-text);
}

.filter-item__checkbox {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    background: var(--color-bg-dark);
    border: 1px solid var(--color-border-light);
    color: transparent;
    transition: all 0.2s ease;
    box-shadow: none;
}

.filter-item.is-active .filter-item__checkbox {
    background: var(--status-color);
    border-color: var(--status-color);
    color: var(--status-text);
}

.filter-item.is-active:hover .filter-item__checkbox {
    background: var(--status-hover);
    border-color: var(--status-hover);
}