.appointments-page-body .main {
    display: block;
    height: calc(100vh - 80px);
}

.appointments {
    display: grid;
    grid-template-columns: 16.75rem 1fr 15rem; 
    gap: 2rem;
    width: 100%;
    padding: 0 1.5rem;
    height: calc(100vh - 100px - 24px); 
    overflow: hidden;
}

.appointments__main {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px - 3rem);
    overflow: hidden;
}