.appointments__sidebar {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    background-color: var(--color-bg-complement);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: .15rem;
    height: 98%;
    padding: 1rem;
}

.appointments__subtitle {
    font-family: 'Inter-SemiBold', sans-serif;
    font-size: var(--font-size-base);
    margin-bottom: 1rem;
    color: var(--color-text);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.appointments__subtitle i {
    margin-right: .5rem;
    font-size: var(--font-size-small);
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.appointments__subtitle:hover i {
    transform: rotate(-90deg);
    transition: transform .2s ease-out;
}