.auth-page {
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    align-items: center;
}

.auth-page__form {
    height: 100%;
    max-width: 70rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.auth-header__title {
    font-family: Inter-Bold, sans-serif;
    font-size: var(--font-size-logo);
    margin-bottom: .5rem;
}

.auth-header__dash {
    border-radius: 1rem;
    width: 3rem;
    height: .5rem;
    background-color: var(--color-primary);
    margin-bottom: 1rem;
}

.nav-main {
    display: none;
}